#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &kp F16     &kp F17     &kp F18
                &kp F19     &kp F20     &kp F21
                &kp F22     &kp F23     &kp F24
            >;
            sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;
        };
    };
};